* {
  box-sizing: border-box;
}
body {
  font-family: "Times New Roman", Times, serif;
  margin: 0px;
  padding: 0px;
  background-color: rgb(234, 253, 255);
}

h2,
h3,
h4 {
  color: darkblue;
}

footer {
  color: rgb(55, 75, 99);
  background-color: rgb(163, 228, 150);
  text-align: center;
  font-weight: bold;
  padding: 15px;
}

nav a {
  font-size: 17px;
  font-weight: 300;
  text-decoration: none;
  color: white;
}
nav li a:hover {
  color: rgb(127, 233, 219);
}

.card {
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
  border-radius: 5px;
  padding: 30px;
  margin-top: 20px;
  background-color: white;
}

nav li {
  display: inline;
  list-style-type: none;
  margin-right: 15px;
}
nav {
  background-color: rgb(81, 100, 116);
  border-top: 1px solid white;
  padding: 5px;
  position: sticky;
  top: 0;
}
main {
  padding: 20px;
  overflow: auto;
}
#content {
  float: left;
  width: 75%;
  text-align: justify;
}
aside {
  float: right;
  width: 25%;
  padding-left: 20px;
}

header {
  display: inline;
}
.form {
  background-color: aquamarine;
  margin: 0px;
  padding: 30px;
}

.medsos {
  padding: 5px;
}

.icon {
  height: 45px;
}
.container ul li {
  display: inline-block;
  padding-right: 20px;
}
