</html>
    
    <title>tugas03g</title>
    
        <img src="img1.JPEG" widht="100" height="200" align="left"/>Perkenalkan, nama saya Imroatul Aulia 
	ini adalah hompage pertama saya, karena saya baru belajar tentang cara membuat hompage.<br/>
        hompage ini masih dalam tahap pengembangan, oleh karena itu
        tampilannya masih terlalu sederhana <br/>untuk terus memperbaiki
        hompage ini sehingga semakin lama semakin menarik untuk dilihat.
        <a hreff="hal2.html">jika ingin melihat tentang saya</a><br/>
        ke <a href="hal2.html#bawah">bagian bawah pada halaman selanjutnya</a>.<br/>
	<p>informasi lebih lanjut tentang saya <a href=mailto:imroatul2000018373@webmail.uad.ac.id>Disini Email Saya</a></p>
       
      <a name="#akhir">ini bagian akhir</a>
    </body>
</html>